{% extends "base.html" %} {% block title %} Menu principal {% endblock %} {%
block header %} {{ super() }} {% endblock %} {% block content %}

<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/forms.css') }}"
  />
</head>
<style>
  #burble {
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
  }
</style>
<center><h1>Burble sort</h1></center>

<div id="div_info"class="infos">
    <div class="info__icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none"><path fill="#393a37" d="m12 1.5c-5.79844 0-10.5 4.70156-10.5 10.5 0 5.7984 4.70156 10.5 10.5 10.5 5.7984 0 10.5-4.7016 10.5-10.5 0-5.79844-4.7016-10.5-10.5-10.5zm.75 15.5625c0 .1031-.0844.1875-.1875.1875h-1.125c-.1031 0-.1875-.0844-.1875-.1875v-6.375c0-.1031.0844-.1875.1875-.1875h1.125c.1031 0 .1875.0844.1875.1875zm-.75-8.0625c-.2944-.00601-.5747-.12718-.7808-.3375-.206-.21032-.3215-.49305-.3215-.7875s.1155-.57718.3215-.7875c.2061-.21032.4864-.33149.7808-.3375.2944.00601.5747.12718.7808.3375.206.21032.3215.49305.3215.7875s-.1155.57718-.3215.7875c-.2061.21032-.4864.33149-.7808.3375z"></path></svg>
    </div>
    <div class="info__title">Recuerde no meter archivos con mas de 200 datos por que tardara mucho </div>
    <div id="close_info"class="info__close"><svg height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z" fill="#393a37"></path></svg></div>
</div>
<a class="button_volver" href="burble"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="
    width: 20px;
    height: 20px;
"><path d="M8.83 6a30.23 30.23 0 0 0-5.62 5.406A.949.949 0 0 0 3 12m5.83 6a30.233 30.233 0 0 1-5.62-5.406A.949.949 0 0 1 3 12m0 0h18"></path></svg>Volver</a>






   <div class="container_form">
        <h1>Subir y Ordenar Archivo</h1>
        <form id="upload-form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="tipo_archivo">Selecciona el tipo de archivo:</label>
                <select required name="tipo_archivo">
                  <option value="xls">Detectar Automaticamente</option>  
                  <option value="xls">Ecxel-xls</option>
                    <option value="txt">Texto-txt</option>
                    <option value="csv">tabla.csv</option>
                </select>
            </div>  
            <div class="form-group">
            <label for="file" class="file-upload-label">
        <div class="file-upload-design">
            <svg viewBox="0 0 640 512" height="1em">
                <path
                    d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"
                ></path>
            </svg>
            <p>Arrastre</p>
            <span class="browse-button">Seleccione el archivo</span>
        </div>
        <input type="file" name="file" id="file" required style="display:none;">
        <span class="file-name" id="file-name">No se ha seleccionado ningún archivo</span>
    </label>
            </div>
            <button type="submit">Subir y Ordenar</button>
        </form>
        <div class="progress-bar" style="display:none;">
            <div class="progress-bar-fill"></div>
            <span>Procesando u ordenando , espere...</span>
        </div>
         <p id="sort-time" style="display:none;">Tiempo de ordenación: <span id="time-elapsed"></span> segundos</p>
       <a 
       target="_blank"
       id="download-btn"
       class="Download-button">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="16"
    width="20"
    viewBox="0 0 640 512"
  >
    <path
      d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-167l80 80c9.4 9.4 24.6 9.4 33.9 0l80-80c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-39 39V184c0-13.3-10.7-24-24-24s-24 10.7-24 24V318.1l-39-39c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9z"
      fill="white"
    ></path>
  </svg>
  <span>Descargar </span>
</a>
    </div>
    <script>
        document.getElementById('file').addEventListener('change', function() {
            const fileNameSpan = document.getElementById('file-name');
            const file = this.files[0];
            if (file) {
                fileNameSpan.textContent = file.name;
            } else {
                fileNameSpan.textContent = 'No se ha seleccionado ningún archivo';
            }
        });
    </script>

  <script>  document.getElementById('upload-form').addEventListener('submit', function(e) {
            e.preventDefault();
            
            const formData = new FormData(this);
            const xhr = new XMLHttpRequest();
 const startTime = Date.now();
            xhr.open('POST', '/upload_burble_archiv', true);

            xhr.onload = function() {
                if (xhr.status === 200) {
                    const response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        const downloadBtn = document.getElementById('download-btn');
                        downloadBtn.href = response.download_url;
                        downloadBtn.style.display = 'block';
                        document.querySelector('.progress-bar').style.display = 'none';
                    
                     const endTime = Date.now();
                const timeElapsed = ((endTime - startTime) / 1000).toFixed(2);
                document.getElementById('sort-time').style.display = 'block';
                document.getElementById('time-elapsed').textContent = timeElapsed;
                      }
                }
            };

            xhr.send(formData);

            const eventSource = new EventSource('/progress');
            const progressBarFill = document.querySelector('.progress-bar-fill');
            const progressBar = document.querySelector('.progress-bar');
            progressBar.style.display = 'block';

            eventSource.onmessage = function(event) {
                const progress = event.data;
                progressBarFill.style.width = progress + '%';
                if (progress >= 100) {
                    eventSource.close();
                }
            };
        });
          var close_info = document.getElementById("close_info");
  var div_info = document.getElementById("div_info");

  setTimeout(function () {
    div_info.style.display = "none";
  }, 5000);

  close_info.addEventListener("click", () => {
    div_info.style.display = "none";
  });

    </script>
  <div>{% endblock %} {% block footer %} {{ super() }} {% endblock %}</div>
</div>
